.red-circle{
    border-radius: 50%;
    max-width: 5px;
    min-height: 5px;
    background-color: red;
    box-shadow: 0 0 5px 5px red;
    margin-bottom: -20px;
}

.green-circle{
    border-radius: 50%;
    max-width: 5px;
    min-height: 5px;
    background-color: green;
    box-shadow: 0 0 5px 5px green;
    margin-bottom: -20px;
}